#welcome{
    font-family: Arial, Helvetica, sans-serif;
    left:295px;
    font-weight: 500;
    font-size: x-large;
    position: absolute;
    top:90px;
}
#username{
    font-family: Arial, Helvetica, sans-serif;
    left:400px;
    font-weight: 500;
    font-size: x-large;
    position: absolute;
    top: 150px;
}
header{
    font-size: 20;
    background-color: black;
    color:white;
    padding: 15px;
    width: 100%;
    top: 0;
    left: 0;
    position:fixed;
    padding-left: 20px;
    z-index: 1;
}
.dot {
    height: 95px;
    width: 95px;
    background-color: #d4d3d3;
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    top:125px;
    left:290px;
    z-index:-1;
  }
  #form{
    font-family: Arial, Helvetica, sans-serif;
    left:295px;
    font-weight: 600;
    font-size: large;
    position: absolute;
    top: 235px;
  }
  #title_description{
    font-family:Arial, Helvetica, sans-serif;
    left:295px;
    font-weight: 150;
    font-size:small;
    position: absolute;
    top: 246px;
  }
  #error{
    font-family:Arial, Helvetica, sans-serif;
    left:295px;
    font-weight: 500;
    font-size:small;
    position: absolute;
    top: 280px;
    color:rgb(184, 67, 67);
    background-color: rgb(245, 232, 232);
    padding:13px;
    padding-right: 550px;
    border-color: rgb(244, 146, 146);
    border-style: solid;
    border-width:2px;
  }
  #user{
    font-size:15px;
    color:black;
    z-index:1;
    border-radius: 36px;
    display: inline-block;
    padding: 6px 12px;
    background-color: white;
    position:fixed;
   padding-left:14px;
   font-weight: lighter;
   right:25px;
   top:-3px;
  }
  body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 300%;
    width: 235px;
    position: absolute;
    top: 48px;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar a, .dropdown-btn {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    padding-left: 20px;
}

.sidebar a:hover, .dropdown-btn:hover {
    background-color: #575757;
}

.dropdown-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #262626;
    padding-right: 35px;
}
.dropdown-container.show {
  max-height: 500px; 
}
.l {
    float: right;
    padding-right: 20px;
}

.content {
    margin-left: 260px;
    padding: 20px;
}
#add{
  color:black;
  background-color: black;
  display: inline-blocks;
  padding:10px 10px;
  width:10px;
  border-radius: 5px;
  position:relative;
  left:20px;
  top:-5px;
}

.tablecontainer{

  width:930px;
  position: absolute;
    margin: auto;
    background: white;
    padding: 20px;
    
    top:350px;
    left:275px;
}
#table {
  width: 100%;
  border-collapse: collapse;
  border-top:none;
  border-bottom:none;
}

th, td {
  padding: 10px;
  border: 1px solid #cac5c5;
  text-align: left;
   border-top:none;
   border-bottom:none;
}
th {
  background-color: #d2d0d0;
}
.edit-btn {
  background-color: rgb(60, 57, 211);
  color: white;
  text-align: left;
  margin-right: 5px;
  border:none;
  border-radius:3px;
  padding-right:10px;
padding-top:3px;
padding-bottom: 3px;
}
.edit-btn:hover{
  background-color:rgb(24, 22, 161);
}
.delete-btn {
  background-color: #f77525;
  color: white;
  margin-left:8px;
  border:none;
  border-radius: 3px;
  padding-right:10px;
  padding-top:3px;
 padding-bottom: 3px;
}
.delete-btn:hover{
  background-color: #ab490c;
}
#addRowBtn{ color:black;
  background-color: white;
  display: inline-blocks;
  padding:9px 9px;
  width: 190px;
  border-radius: 5px;
  position:absolute;
  left:-255px;
  top:-287px;
  text-align: left;
  font-weight: 500;
  font-size:medium;
}
tr:nth-child(odd) {
  background-color: #f1f1f1;
  border-collapse:collapse;
}

tr:nth-child(even) {
  background-color: #ffffff;
  border-collapse: collapse;
}
@media only screen and (max-width: 600px) {
  body {
    
.sidebar {
  height: 300%;
  width: 33%;
  position: absolute;
  top: 48px;
  left: 0%;
  background-color: #111;
  padding-top: 20px;
}

#addRowBtn{ color:black;
  background-color: white;
  display: inline-blocks;
  width: 14%;
  border-radius: 5px;
  position:absolute;
  left:-255px;
  top:-287px;
  text-align: left;
  font-weight: 500;
  font-size:medium;
}
#error{
  left:200px;
  top:140px;
  font-size: small;
  position:relative;
  max-height: 15px;
  width: 120%;;
  }
  #welcome{
 left:200px;
 top:50px;
    font-size: medium;
    position:relative;
}
#username{
    left:140px;
    top:100px;
    font-size: medium;
    position:relative;
}
    
.dot {
  height: 75px;
  width: 75px;
  left:119px;
  font-size: medium;
  position:relative;
  top:138px;
}
#form{
  left:40px;
  font-size: medium;
  position:relative;
  top: 140px;
}
#title_description{
  left:200px;
  font-size: small;
  position:relative;
  width:300%;
  top:140px;
}
#table {
 left:-10%;
 position:relative;
 font-size: small;
 top:-45px;
}
}
}
@media only screen and (max-width: 470px) {
  body {
    #addRowBtn{ 
      width:8%;
      font-size:small;
    }
    #user{
      font-size:12px;
     top:6px;}
    
#error{
  left:140px;
  top:90px;
  font-size: small;
  position:relative;
  max-height: 15px;
  width: 120%;;
  }
  #welcome{
 left:160px;
 top:0px;
    font-size: medium;
    position:relative;
}
#username{
    left:100px;
    top:50px;
    font-size: medium;
    position:relative;
}
    
.dot {
  height: 75px;
  width: 75px;
  left:79px;
  position:relative;
  top:88px;
}
#form{
  left:0px;
  font-size: medium;
  position:relative;
  top: 90px;
}
#title_description{
  left:160px;
  font-size: smaller;
  position:relative;
  width:300%;
  top:90px;
}
#table {
 left:-15%;
 position:relative;
 font-size: smaller;
 top:-95px;
}
  }
  }
