<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alcher task</title>
    <link rel="stylesheet" href="static/alcher.css">
</head>
<body>

    <div class="sidebar">
         <a id="add">➕ New Item</a>
        <button class="dropdown-btn">∷ Dashboard
            <i class="l"></i>
        </button>
        <div class="dropdown-container">
            <a>Commarce</a>
            <a>Analytics</a>
            <a>Crypto</a>
            <a>Helpdesk</a>
            <a>Monitoring</a>
            <a>Fitnes</a>
        </div>
        <button class="dropdown-btn">∷ Application
            <i class="l"></i>
        </button>
        <div class="dropdown-container">
            <a>Application 1</a>
            <a>Application 2</a>
            <a>Application 3</a>
        </div> <button class="dropdown-btn" id="el">∷ Elements 
            <i class="l"></i>
        </button>
        <div class="dropdown-container">
            <a>Element 1</a>
            <a>Element 2</a>
            <a>Element 3</a>
        </div>
    </div>
    <header id="home">
        🏠︎ Home</header>
    <h2 id="user">   ◯ Username</h2>
    <div >
        <a id="welcome">Welcome</a>
        <span class="dot"></span>
        <a id="username">Username</a>
        <a id="form">Form title</a>
        <p id="title_description"> Sed tortor, sed velit ridiculus ipsum pharetra lacus odio gravida augue enim.</p>
        <p id="error">ⓘ Senectus malesuada suspendisse bibendum elit amet vitae.</p>
        <div class="tablecontainer">
           <table id="table">
            <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tbody>
              {% for user in users %}
                    <tr>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button class="edit-btn" data-id="{{ user.id }}" data-fullname="{{ user.fullname }}" data-username="{{ user.username }}" data-email="{{ user.email }}">📄Edit</button>

                            <form action="{% url 'home:delete_user' user.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="delete-btn">📄Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No users found.</td>
                    </tr>
                    {% endfor %}
            </tbody>
          </table>
          <button id="addUserBtn">➕ Add User</button>
        </div>
    </div>
   {% block body %}{% endblock body %}
<div id="addUserModal" class="modal">
    <div class="modal-content">
        
        <h2>Add Member</h2>
        <form id="addUserForm" method="post" action="{% url 'home:add' %}">
            {% csrf_token %}
            <div>
                <label for="add_fullname">Full Name:</label>
                <input type="text" id="add_fullname" name="fullname" required>
            </div>
            <div>
                <label for="add_username">Username:</label>
                <input type="text" id="add_username" name="username" required>
            </div>
            <div>
                <label for="add_email">Email:</label>
                <input type="email" id="add_email" name="email" required>
            </div>
            <button class="close-add-modal">Cancel</button>
            <button class="add-user-btn" type="submit">Confirm</button>
            
        </form>
    </div>
</div>


  <div id="editUserModal" class="modal">
    <div class="modal-content">
       
        <h2>Edit User</h2>
        <form id="editUserForm" method="post" action="{% url 'home:update_user' 0 %}">
            {% csrf_token %}
            <input type="hidden" id="userId" name="user.id">
            <div>
                <label for="fullname">Full Name:</label>
                <input type="text" id="fullname" name="fullname" required>
            </div>
            <div>
                <label for="username">Username:</label>
                <input type="text" id="user_name" name="username" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit" class="save-changes">Save Changes</button>
            <button class="close">Cancel</button>
        </form>
       </div>
   </div>

</body>
<script src="static/alcher.js"></script>
</html>